# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json

# macOS
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/app/build/

# VS Code
.vscode/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# Others
*.log
*.tmp
*.swp
*.lock
pubspec.lock

# Web
web/.dart_tool/
web/build/


*.jks
key.properties
*.keystore
